<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>login con node js </title>
<link href="/css/bootstrap.min.css" rel="stylesheet">

    

    
    <!-- Custom styles for this template -->
    <link href="ccs/sign-in.css" rel="stylesheet">
    <link href="css/stayles.css" rel="stylesheet">

  </head>
  <body class="text-center">
    
<main class="form-signin text-center shadow-lg p-3 mb-5">
  <form id="formlogin" action="./login.ejs" method="post">
    <img class="mb-4" src="img/gokupeqe.jpg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">login</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="User" name="User" placeholder="name@example.com">
      <label for="User">User</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="Pass" name="Pass" placeholder="Password">
      <label for="Pass">Password</label>
    </div>

    <div class="checkbox mb-3">

    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">login</button>
    
  </form>
  <br>
  <a type="button" class="w-100 btn btn-lg btn-bd-primary">registro</a>
</main>


    
  </body>
</html>

