<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>login con node js </title>

<link href="css/bootstrap.min.css" rel="stylesheet">

    

    
    <!-- Custom styles for this template -->
    <link href="ccs/sign-in.css" rel="stylesheet">
    <link href="css/stayles.css" rel="stylesheet">

  </head>
  <body class="text-center">
    
<main class="form-signin text-center shadow-lg p-3 mb-5">
  <form id="formlogin" action="./register.ejs" method="post">
    <img class="mb-4" src="img/gokupeqe.jpg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">registro</h1>
<div class="mb-3">
  <label for="name" class="form-label">nombre completo</label>
  <input type="email" name="name" class="form-control" aria-describedby="emailhelp">
    </div>

    <div class="mb-3">
      <label for="user" class="form-label">cuenta usuario</label>
      <input type="text" name="user" class="form-control" id="user">
        </div>

        <div class="mb-3">
          <label for="pass" class="form-label">contaseña</label>
          <input type="password" name="pass" class="form-control" id="pass">
        </div>
      </div>
      <div class="card-footer bd-transparent border-primary">
        <a href="" type="button" class="btn btn-secondary">cancelar</a>
        <a href="" type="submit" class="btn btn-primary">registrar</a>
      </div>            


    <div class="checkbox mb-3">

     
  </form>

</main>


    
  </body>
</html>


   
